
  <div class="form-row alert alert-success" role="alert">
    <div class="form-group col-md-4">
         <select class="custom-select"
      name="anioselect" id="anioselect" #anioselect="ngModel"
       [(ngModel)]="this.valorSeleccionado" (change)="ObtenerClientes()" required >
       <option value="" disabled="true" [selected]="!this.valorSeleccionado">--Año--</option>
          <option *ngFor="let a of years"  [ngValue]='a'>{{ a }}</option>
        </select>
    </div>
    <!-- (change)="obtenerClientes()" -->
    <div class="form-group col-md-3 offset-md-5 ">
      <button class = "float-right btn btn-primary" (click)="openLg(content)">Grafica</button>
    </div>
    </div>

<div class="row">


    <div class="col-md-12" style="overflow-x:auto;">


      <table class="table">
        <thead>
          <tr>
            <th scope="col">Elemento</th>
            <th scope="col">Ene</th>
            <th scope="col">Feb</th>
            <th scope="col">Mar</th>
            <th scope="col">Abr</th>
            <th scope="col">May</th>
            <th scope="col">Jun</th>
            <th scope="col">Jul</th>
            <th scope="col">Ago</th>
            <th scope="col">Sep</th>
            <th scope="col">Oct</th>
            <th scope="col">Nov</th>
            <th scope="col">Dic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Garantias</th>
            <td *ngFor="let item of this.graficaService.Garantias" scope="row">{{ item }}</td>
          </tr>
          <tr>
            <th scope="row">Clientes</th>
            <td *ngFor="let item of this.graficaService.Clientes" scope="row">{{ item }}</td>
          </tr>
          <tr>
            <th scope="row">Clientes Nuevos</th>
            <td *ngFor="let item of this.graficaService.ClientesTotales" scope="row">{{ item }}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

  <div class=" form-row alert alert-primary" role="alert">
      <div class="form-group col-md-2">
          <strong>Facturacion de:</strong>
        </div>

      <div class="form-group col-md-4">
    <select class="custom-select"
    name="messelct" id="messelct" #messelct="ngModel"
     [(ngModel)]="this.mesSeleccionado" (change)="obtenerFacturacion()" required >
     <option value="" disabled="true" [selected]="!this.mesSeleccionado">--Mes--</option>
        <option *ngFor="let b of lineChartLabels; let i = index" [attr.data-index]="i"  [ngValue]='i+1'>{{ b }}</option>
      </select>
    </div>
    <div class="form-group col-md-2 offset-md-2">
        <strong>$ {{ this.TotalFactura }}</strong>
      </div>

    </div>


    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Grafica</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div  *ngIf="this.lineChartData.length > 0" style="display: block;">
          <canvas baseChart class="chartDiv"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [legend]="lineChartLegend"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
