<div *ngIf="this.confirmar== '200'" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Datos Guardados! </strong> Los datos fueron guardados con exito. Espera a que tu cuenta sea activada por el administrador.
    <a class="navbar-brand" href="#"  routerLink="/home"><strong> Volver</strong></a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="this.confirmar== '401'" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error! </strong> {{ this.tecnicoServicio.Mensaje }}.
    <a class="navbar-brand" href="#"  routerLink="/home"><strong>   Volver</strong></a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="md-0">Registro</h3>
        <div class="card-boy">

              <form #formTecnico="ngForm" (ngSubmit) ="guardarTecnico(formTecnico)">
                  <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="clienteservicio.clienteSeleccionado._id"> -->


                <div class="form-row">
                    <div class="form-group col-md-6">
                      <input  type="text" class="form-control" name="nombreTecnico" id="nombreTecnico" #nombreTecnico="ngModel"
                      [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.nombre"
                      placeholder="Nombre" required pattern="[a-zA-Z# ]+">
                      <span class="form-text text-danger" *ngIf="nombreTecnico.touched && !nombreTecnico.valid">
                         el campo esta vacio o contiene caracteres no permitidos
                      </span>
                    </div>
                    <div class="form-group col-md-6">
                        <input  type="text" class="form-control" name="apellidoTecnico" id="apellidoTecnico" #apellidoTecnico="ngModel"
                        [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.apellido"
                         placeholder="Apellido" required pattern="[a-zA-Z# ]+">
                         <span class="form-text text-danger" *ngIf="apellidoTecnico.touched && !apellidoTecnico.valid">
                            el campo esta vacio o contiene caracteres no permitidos
                         </span>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <input  type="text" class="form-control" name="telefonoTecnico" id="telefonoTecnico" #telefonoTecnico="ngModel"
                        [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.telefono"
                        placeholder="Telefono" required pattern="[0-9]+">
                        <span class="form-text text-danger" *ngIf="telefonoTecnico.touched && !telefonoTecnico.valid">
                           el campo esta vacio o contiene caracteres no permitidos
                        </span>
                    </div>

                    <div class="form-group col-md-6">
                      <input  type="text" class="form-control" name="ciudadTecnico" id="ciudadTecnico" #ciudadTecnico="ngModel"
                      [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.ciudad"
                      placeholder="Ciudad" required pattern="[a-zA-Z# ]+">
                      <span class="form-text text-danger" *ngIf="ciudadTecnico.touched && !ciudadTecnico.valid">
                         el campo esta vacio o contiene caracteres no permitidos
                      </span>
                  </div>

              </div>

                  <div class="form-group">
                    <textarea class="form-control"  rows="3" name="descripcionTecnico" id="descripcionTecnico" #descripcionTecnico="ngModel"
                    [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.descripcion"
                    placeholder="Que Repara?" required pattern="[a-zA-Z0-9# ]+"></textarea>
                    <span class="form-text text-danger" *ngIf="descripcionTecnico.touched && !descripcionTecnico.valid">
                        el campo esta vacio o contiene caracteres no permitidos
                     </span>
                </div>

                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <input  type="text" class="form-control" name="direccionTecnico" id="direccionTecnico" #direccionTecnico="ngModel"
                          [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.direccion"
                          placeholder="Direccion" required pattern="[a-zA-Z0-9# ]+">
                          <span class="form-text text-danger" *ngIf="direccionTecnico.touched && !direccionTecnico.valid">
                             el campo esta vacio o contiene caracteres no permitidos
                          </span>
                      </div>

                      <div class="form-group col-md-6">
                        <input  type="text" class="form-control" name="codigoPostalTecnico" id="codigoPostalTecnico" #codigoPostalTecnico="ngModel"
                        [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.codigoPostal"
                        placeholder="Codigo Postal" required pattern="[0-9]+">
                        <span class="form-text text-danger" *ngIf="codigoPostalTecnico.touched && !codigoPostalTecnico.valid">
                           el campo esta vacio o contiene caracteres no permitidos
                        </span>
                    </div>
                    </div>

                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <input  type="text" class="form-control" name="correoTecnico" id="correoTecnico" #correoTecnico="ngModel"
                        [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.correo"
                        placeholder="Correo Electronico" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <span class="form-text text-danger" *ngIf="correoTecnico.touched && !correoTecnico.valid">
                            el campo esta vacio o contiene caracteres no permitidos
                         </span>
                    </div>

                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" id="passwordTecnico" #passwordTecnico="ngModel" name="passwordTecnico"
                        [(ngModel)]="tecnicoServicio.TecnicoSeleccionado.password"
                        placeholder="Password" required pattern="[a-zA-Z0-9# ]+" >
                        <span class="form-text text-danger" *ngIf="passwordTecnico.touched && !passwordTecnico.valid">
                            el campo esta vacio o contiene caracteres no permitidos
                         </span>


                    </div>

                    </div>




                <button type="submit" [disabled]="!formTecnico.form.valid" class="btn btn-primary">Guardar</button>

              </form>




        </div>
      </div>
    </div>
  </div>
</div>
